
body {
	background: #8F8E8E;
	width: 990px;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#wrap {
	background: #8F8E8E url(images/bg.gif) center repeat-y;
	width: 990px;
	margin: 0px auto 0px;
	padding: 0px;
	}

/************************************************
*	Hyperlinks									*
************************************************/

a, a:visited {
	color: #AA2BB4;
	text-decoration: none;
	}
	
a:hover {
	color: #CC0000;
	text-decoration: underline;
	}
	
/************************************************
*	Top     									*
************************************************/

#top {
	width: 990px;
	height: 20px;
	margin: 0px auto 0px;
	padding: 0px;
	overflow: hidden;
	}
	
/************************************************
*	Header  									*
************************************************/

#header {
	background: #000000;
	width: 960px;
	height: 100px;
	color: #000000;
	font-size: 11px;
	margin: 0px auto 0px;
	padding: 0px;
	overflow: hidden;
	}

#header h1 {
	color: #CCCCCC;
	font-size: 24px;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-weight: normal;
	margin: 0px;
	padding: 25px 0px 0px 20px;
	text-decoration: none;
	}
	
#header h1 a, #header h1 a:visited {
	color: #CCCCCC;
	font-size: 24px;
	font-family: Georgia, Times New Roman, Trebuchet MS;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	}
	
#header h1 a:hover{
	color: #CCCCCC;
	text-decoration: none;
	}
	
#header p {
	color: #FFFFFF;
	padding: 0px 0px 5px 20px;
	margin: 0px;
	line-height: 20px;
	}
	
#header a, #header a:visited {
	color: #FFFFFF;
	font-size: 11px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0px 0px 0px 3px;
	}
	
#header a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	}

.headerleft {
	width: 420px;
	float: left;
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	}
	
.headerleft a img {
	border: none;
	margin: 0px;
	padding: 0px;
	}

.headerright {
	width: 480px;
	float: right;
	margin: 0px;
	padding: 5px 17px 0px 0px;
	font-weight: bold;
	text-align: right;
	}
	
.headerright a img {
	border: none;
	margin: 0px 0px 3px 0px;
	padding: 0px;
	}

    
    	
/************************************************
*	Navbar      								*
************************************************/

#navbar {
	background: #000000;
	width: 960px;
	height: 29px;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	color: #FFFFFF;
	font-weight: bold;
	margin: 0px auto 0px;
	padding: 0px;
	border-top: 1px solid #333333;
	border-bottom: 1px solid #000000;
	overflow: hidden;
	}
	
#navbar a, #navbar a:visited {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0px 0px 0px 3px;
	}
	
#navbar a:hover {
	color: #FFFFFF;
	text-decoration: underline;
	padding: 0px 0px 0px 3px;
	}
	
#navbarleft {
	width: 720px;
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
#navbarright {
	width: 220px;
	font-size: 11px;
	float: right;
	margin: 0px;
	padding: 4px 10px 0px 0px;
	}
	
#navbarright a img {
	border: none;
	margin: 0px;
	padding: 0px;
	}

#nav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
	
#nav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

#nav a, #nav a:visited {
	background: #222222;
	color: #FFFFFF;
	display: block;
    font-weight: bold;
    margin: 0px;
	padding: 8px 15px 8px 15px;
	border-left: 1px solid #000000
	}
	
#nav a:hover {
	background: #333333;
	color: #FFFFFF;
    margin: 0px;
	padding: 8px 15px 8px 15px;
	text-decoration: none;
	}

#nav li {
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
#nav li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 150px;
	}
	
#nav li li a, #nav li li a:link, #nav li li a:visited {
	background: #333333;
	width: 160px;
	float: none;
	margin: 0px;
	padding: 7px 30px 7px 10px;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	}
	
#nav li li a:hover, #nav li li a:active {
	background: #666666;
	padding: 7px 30px 7px 10px;
	}

#nav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	}

#nav li:hover ul {
	left: auto;
	display: block;
	}
	
#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
	}

/************************************************
*	Subnavbar      								*
************************************************/

#subnavbar {
	background: #AA2BB4;
	width: 960px;
	height: 27px;
	margin: 0px auto 0px;
	padding: 0px 0px 0px 0px;
	border-top: 1px solid #AA2BB4;
	border-bottom: 1px solid #AA2BB4;
	}
	
#subnav {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}
	
#subnav ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	}

#subnav a, #subnav a:visited {
	background: #AA2BB4;
	color: #FFFFFF;
	display: block;
    font-weight: bold;
    margin: 0px 0px 0px 0px;
	padding: 6px 15px 6px 15px;
	border-bottom: 1px solid #AA2BB4;
	border-left: 1px solid #AA2BB4;
	border-right: 1px solid #AA2BB4;
	}
	
#subnav a:hover {
	background: #FFFFFF;
	color: #2255AA;
	display: block;
	text-decoration: none;
    margin: 0px 0px 0px 0px;
	padding: 6px 15px 6px 15px;
	border-bottom: 1px solid #AA2BB4;
	border-left: 1px solid #AA2BB4;
	border-right: 1px solid #AA2BB4;
	}

#subnav li {
	float: left;
	margin: 0px;
	padding: 0px;
	}
	
#subnav li li {
	float: left;
	margin: 0px;
	padding: 0px;
	width: 160px;
	}
	
#subnav li li a, #subnav li li a:link, #subnav li li a:visited {
	background: #FFFFFF;
	color: #2255AA;
	width: 160px;
	float: none;
	margin: 0px;
	padding: 6px 10px 6px 10px;
	border-bottom: 1px solid #AA2BB4;
	border-left: 1px solid #AA2BB4;
	border-right: 1px solid #AA2BB4;
	}
	
#subnav li li a:hover, #subnav li li a:active {
	background: #DDDDDD;
	color: #2255AA;
	margin: 0px;
	padding: 6px 10px 6px 10px;
	}

#subnav li ul {
	position: absolute;
	width: 10em;
	left: -999em;
	}

#subnav li:hover ul {
	left: auto;
	display: block;
	}
	
#subnav li:hover ul, #subnav li.sfhover1 ul {
	left: auto;
	}
	
/************************************************
*	Homepage 		    	                    * 
************************************************/
	
#homepage {
	float: left;
	width: 610px;
	margin: 0px;
	padding: 10px 0px 0px 0px;
	}
	
#homepage p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
#homepage p img {
	border: none;
    float: left;
	margin: 0px 0px 10px 0px;
	}
	
#homepage ul {
	list-style-type: square;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
#homepage ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	}

.hppostmeta {
	width: 270px;
	font-size: 11px;
	margin: 0px 0px 15px 0px;
	padding: 5px 0px 10px 0px;
	border-bottom: 1px dotted #C0C0C0;
	font-weight: bold;
	}
	
#homepageleft {
	float: left;
	width: 310px;
	margin: 0px;
	padding: 0px;
	}
	
.main {
	background: #FFFFFF;
	float: left;
	width: 590px;
	margin: 0px 0px 10px 0px;
	padding: 13px 10px 0px 10px;
	}

.featured {
	background: #FFFFFF;
	float: left;
	width: 290px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 0px 9px;
border: 1px solid #C0C0C0;
	}
	
#homepageright {
	float: right;
	width: 290px;
	margin: 0px;
	padding: 0px;
	}
	
#homepageright p {
	padding: 0px;
	margin: 0px;
	}
	
.section {
	background: #FFFFFF;
	float: right;
	width: 270px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 0px 9px;
border: 1px solid #C0C0C0;
	}
	
.thumb {
	background: #FFFFFF;
	float: right;
	width: 270px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 0px 9px;
border: 1px solid #C0C0C0;
	}

/************************************************
*	Content 					     		    * 
************************************************/

#content {
	width: 940px;
	margin: 0px auto 0px;
	padding: 0px;
	line-height: 17px;
	}
	
#content h1 {
	color: #000000;
	font-size: 22px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	line-height: 24px;
	}
	
#content h1 a, #content h1 a:visited  {
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	}

#content h1 a:hover {
	color: #2255AA;
	text-decoration: none;
	}
	
#content h2 {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
#content h2 a, #content h2 a:visited {
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	}

#content h2 a:hover {
	color: #2255AA;
	text-decoration: none;
	}
	
#content h3 {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 5px 0px 10px 0px;
	}
	
#content h3 a, #content h3 a:visited {
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px 0px 10px 0px;
	}

#content h3 a:hover {
	color: #2255AA;
	text-decoration: none;
	}
	
#content h4 {
	color: #000000;
	font-size: 16px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
#content img.wp-smiley {
	float: none;
	border: none;
	margin: 0px;
	padding: 0px;
	}

#content img.wp-wink {
	float: none;
	border: none;
	margin: 0px;
	padding: 0px;
	}
	
#contentleft {
	float: left;
	width: 610px;
	margin: 0px;
	padding: 10px 0px 10px 0px;
	}
	
#contentleft p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}

#contentleft p img {
	border: none;
    float: left;
	margin: 0px 10px 10px 0px;
	padding: 0px;
	}
	
#contentleft ul {
	list-style-type: square;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
#contentleft ul li {
	list-style-type: square;
	margin: 0px 0px 0px 20px;
	padding: 0px;
	}
	
blockquote {
	background: #E8E8E8;
	margin: 0px 25px 15px 25px;
	padding: 10px 20px 0px 15px;
	border-top: 1px solid #DDDDDD;
	border-right: 1px solid #666666;
	border-left: 1px solid #DDDDDD;
	border-bottom: 1px solid #666666;
	}
	
#content blockquote p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
.postarea {
	background: #FFFFFF;
	float: left;
	width: 590px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 0px 9px;
border: 1px solid #C0C0C0;
	}
	
.breadcrumb {
	float: left;
	width: 590px;
	font-size: 11px;
	margin: 0px 0px 20px 0px;
	padding: 0px 0px 3px 0px;
	border-bottom: double #EAEAEA;
	}
	
.date {
	float: left;
	width: 590px;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	}
	
.postmeta {
	width: 590px;
	font-size: 12px;
	padding: 5px 0px 20px 0px;
	margin: 0px;
	border-top: double #EAEAEA;
	}
	
.postmeta2 {
	width: 590px;
	font-size: 12px;
	padding: 5px 0px 40px 0px;
	margin: 0px;
	border-top: double #EAEAEA;
	}
	
.archive {
	float: left;
	width: 275px;
	margin: 0px;
	padding: 0px 0px 20px 0px;
	}
	
.adsense-post {
	background: #FFFFFF;
	float: left;
	width: 590px;
	margin: 0px 0px 10px 0px;
	padding: 19px 9px 19px 9px;
border: 1px solid #C0C0C0;
	}
	
.comments {
	background: #FFFFFF;
	float: left;
	width: 590px;
	margin: 0px 0px 0px 0px;
	padding: 19px 0px 19px 19px;
border: 1px solid #C0C0C0;
	}
	
/************************************************
*	Sidebar 		    	        	        * 
************************************************/

#sidebar {
	float: right;
	width: 320px;
	margin: 0px;
	padding: 10px 0px 10px 0px;
	line-height: 18px;
	display: inline;
	}
	
#sidebar p {
	padding: 0px;
	margin: 0px;
	}
	
#sidebar a img {
	border: none;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
#sidebar h2 {
	color: #000000;
	font-size: 14px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	}
	
#sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
#sidebar ul li {
	list-style-type: none;
	margin: 0px 0px 5px 0px;
	padding: 0px;
	}

#sidebar ul ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
	
#sidebar ul li li {
	background: #FFFFFF url(images/icon.png) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#sidebar ul li ul li {
	background: #FFFFFF url(images/icon.png) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
.widgetarea {
	background: #FFFFFF;
	float: left;
	width: 300px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 0px 9px;
border: 1px solid #C0C0C0;
	}
	
.video {
	background: #FFFFFF;
	float: left;
	width: 300px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 9px 9px;
border: 1px solid #C0C0C0;
	}
	
.adsense {
	background: #FFFFFF;
	float: left;
	width: 300px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 9px 9px;
border: 1px solid #C0C0C0;
	}
	
.newsletter {
	background: #FFFFFF url(images/newsletter.gif) top right no-repeat;
	float: left;
	width: 300px;
	margin: 0px 0px 10px 0px;
	padding: 9px 9px 14px 9px;
border: 1px solid #C0C0C0;
	}
	
/************************************************
*	Left Sidebar                    	        * 
************************************************/

#l_sidebar {
	background: #FFFFFF;
	float: left;
	width: 135px;
	margin: 0px;
	padding: 9px 9px 0px 9px;
	line-height: 20px;
	display: inline;
border: 1px solid #C0C0C0;
	}
	
#l_sidebar p {
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
#l_sidebar a img {
	border: none;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}

#l_sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}
	
#l_sidebar ul ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
	
#l_sidebar ul li li {
	background: #FFFFFF url(images/icon.png) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#l_sidebar ul li ul li {
	background: #FFFFFF url(images/icon.png) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
/************************************************
*	Right Sidebar                       	    * 
************************************************/

#r_sidebar {
	background: #FFFFFF;
	float: right;
	width: 135px;
	margin: 0px;
	padding: 9px 9px 0px 9px;
	line-height: 20px;
	display: inline;
border: 1px solid #C0C0C0;
	}
	
#r_sidebar p {
	padding: 0px 0px 15px 0px;
	margin: 0px;
	}
	
#r_sidebar a img {
	border: none;
	margin: 0px;
	padding: 0px 0px 15px 0px;
	}
	
#r_sidebar ul {
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0px;
	}

#r_sidebar ul ul {
	list-style-type: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	}
	
#r_sidebar ul li li {
	background: #FFFFFF url(images/icon.png) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}
	
#r_sidebar ul li ul li {
	background: #FFFFFF url(images/icon.png) no-repeat top left;
	padding: 0px 0px 5px 18px;
	margin: 0px 0px 0px 0px;
	}

/************************************************
*	Footer      								*
************************************************/

#footer {
	background: #000000;
	width: 960px;
	height: 28px;
	margin: 0px auto 0px;
	padding: 0px;
	}
	
#footer p {
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	}
	
#footer a, #footer a:visited {
	color: #FFFFFF;
	text-decoration: none;
	}
	
#footer a:hover {
	text-decoration: underline;
	}
	
#footer a img {
	border: none;
	margin: 0px 0px 0px 10px;
	padding: 0px;
	}
	
#footerleft {
	width: 650px;
	float: left;
	margin: 0px;
	padding: 12px 0px 0px 0px;
	}
	
#footerright {
	width: 260px;
	float: right;
	margin: 0px;
	padding: 7px 0px 0px 0px;
	text-align: right;
	}
	
/************************************************
*	Bottom  									*
************************************************/

#bottom {
	width: 990px;
	height: 25px;
	margin: 0px auto 0px;
	padding: 0px;
	overflow: hidden;
	}

/************************************************
*	Search Form									*
************************************************/

#searchdiv {
	margin: 0px;
	padding: 0px;
	}
	
#searchform {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	display: inline;
	}
	
#subscribe {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}
	
#s {
	background: #FFFFFF;
	width: 170px;
	color: #000000;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: normal;
	margin: 0px;
	padding: 2px 0px 2px 5px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	display: inline;
	}
	
#sbutt {
	background: #AA2BB4;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px 0px 0px 5px;
	padding: 2px;
	border: 1px solid #234B69;
	font-weight: bold;
	}

#subbox {
	background: #EEEEEE;
	width: 210px;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	font-weight: normal;
	margin: 10px 0px 0px 0px;
	padding: 3px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	display: inline;
	}
	
#subbutton {
	background: #AA2BB4;
	color: #FFFFFF;
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px 0px 0px 5px;
	padding: 2px;
	border: 1px solid #234B69;
	font-weight: bold;
	}
	
#name, #email, #url {
	background: #FFFFFF;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	margin: 0px;
	padding: 4px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}
	
#submit {
	background: #AA2BB4;
	color: #FFFFFF;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px;
	border: 1px solid #234B69;
	}
	
#words {
	background: #FFFFFF;
	width: 460px;
	color: #000000;
	font-size: 12px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	margin: 0px;
	border-top: 1px solid #666666;
	border-right: 1px solid #DDDDDD;
	border-left: 1px solid #666666;
	border-bottom: 1px solid #DDDDDD;
	}

/************************************************
*	Comments									*
************************************************/
	
#commentblock {
	width: 530px;
	background: #E8E8E8;
	float: left;
	padding: 20px 20px 10px 20px;
	margin: 10px 0px 0px 0px;
	border-top: 2px solid #333333;
	border-bottom: 1px solid #333333;
	}
	
#commentblock ol {
	list-style-type: square;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 10px 0px;
	}
	
.commentdate {
	font-size: 12px;
	padding-left: 0px;
	}
	
#commentlist li p {
	margin-bottom: 8px;
	line-height: 20px;
	padding: 0px;
	}

.commentname {
	color: #333333;
	margin: 0px;
	padding: 5px 5px 5px 0px;
	}

.commentinfo{
	clear: both;
	}

.commenttext {
	clear: both;
	margin: 3px 0px 10px 0px;
	padding: 20px 10px 5px 10px;
	width: 490px;
	background: #FFFFFF url(images/comment.gif) no-repeat top left;
	}

.commenttext-admin {
	clear: both;
	margin: 3px 0px 10px 0px;
	padding: 20px 10px 5px 10px;
	width: 490px;
	background: #FFFFFF url(images/comment.gif) no-repeat top left;
	}
 #menu {
  padding: 0.5em 0.5em 0 0.5em; /* LTR */
  text-align: right; /* LTR */
  vertical-align: middle;
}

